<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>123</title>
		<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
		<!-- element-ui -->
		<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
		<script src="https://unpkg.com/element-ui/lib/index.js"></script>
		<!-- axios -->
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

	</head>
	<body>

		<div id="app">

			<h1>xiaohu--请使用手机访问</h1>

			<el-row>
				<el-col :span="4">
					类型：<el-select v-model="imgtype.r18" placeholder="请选择">
						<el-option v-for="item in imgtypeoptions.r18" :key="item.value" :label="item.label"
							:value="item.value">
						</el-option>
					</el-select>
				</el-col>
				<el-col :span="4">
					标题：<el-input v-model="imgtype.keyword" placeholder="" style="width:200px"></el-input>
				</el-col>
				<el-col :span="4">
					标签：<el-input v-model="imgtype.tag" placeholder="" style="width:200px"></el-input>

				</el-col>
				<el-col :span="1" align="middle" style="padding: 10px">
					数量：
				</el-col>
				<el-col :span="4">
					<el-slider v-model="imgtype.num" style="width:200px"></el-slider>
				</el-col>
				<el-col :span="4">
					<el-button type="primary" @click="getApi">查询</el-button>
				</el-col>
			</el-row>

			<el-row :gutter="20">
				<el-col :span="6" v-for="(ocol,icol) in imgdate">
					<div class="grid-content bg-purple">
						<!-- {{imgoriginal[irow*4+icol]}} -->
						<el-card :body-style="{ padding: '0px' }">
							<!-- <img :src="imgdate[icol].small" class="image" lazy
								:preview-src-list="srcList"> -->
							<el-image :src="imgdate[icol].small" lazy>
							</el-image>
							<div style="padding: 14px;">
								<span>标题:{{imgdate[icol].title}}</span><br>
								<span>作者:{{imgdate[icol].author}}</span><br>
								<span>pid:{{imgdate[icol].pid}}</span><br>
								<div class="bottom clearfix">
									<time class="time">{{imgdate[icol].uploadDate}}</time>
									<el-button type="text" class="button" @click="lookimg(icol)">原图
									</el-button>
								</div>
							</div>
						</el-card>
					</div>
				</el-col>
			</el-row>


			<el-dialog title="收货地址" :visible.sync="dialogTableVisible" width='80%'>
				<el-image :src="originalurl" >
				</el-image>
			</el-dialog>

		</div>




	</body>
	<script>
		new Vue({
			el: "#app",
			data: {
				imgtype: {
					r18: '0',
					num: 10,
					keyword: '',
					tag: '',
					size: 'original'
				},
				dialogTableVisible: false,
				elrownum: 0,
				imgtypeoptions: {
					r18: [{
						value: '0',
						label: '正常'
					}, {
						value: '1',
						label: '暴露'
					}, {
						value: '2',
						label: '随机'
					}],
					size: [{
						value: 'original',
						label: '原图'
					}, {
						value: 'regular',
						label: '普通'
					}, {
						value: 'small',
						label: '小图'
					}, {
						value: 'thumb',
						label: '小小图'
					}, {
						value: 'mini',
						label: '最小'
					}],
				},
				imgdate: [],
				originalurl:''
			},
			beforeCreate() {

			},
			mounted() {},
			methods: {
				getApi: function() {
					var other = this;
					// console.log(other.imgtype)
					axios.get('http://8.134.127.32:8883/setu/lolicon', {
						params: {
							r18: other.imgtype.r18,
							num: other.imgtype.num,
							keyword: other.imgtype.keyword,
							tag: other.imgtype.tag,
						}
					}).then(function(response) {
						other.elrownum = Math.ceil(other.imgtype.num / 4)
						other.imgdate = response.data
					}).catch(function(error) {
						console.log(error);
					});
				},
				lookimg:function(i){
					this.dialogTableVisible=true
					this.originalurl=this.imgdate[i].original
				}
			}
		})
	</script>
</html>
